@charset "utf-8";
/* CSS Document */

#menu {
	background: url('images/menu.png') repeat-x;
	position: relative;
	z-index: 1;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('images/transparent.png');
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
#menu > ul > li + li {
	background: url('images/split.png') center left no-repeat;
}
#menu > ul .top, #menu > ul li li.sfhover {
	padding: 10px 15px 9px 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
#menu > ul ul li {
	padding: 2px;
}
#menu > ul .selected .top {
	background: url('images/selected.png') repeat-x;
	color: #FFFFFF;
}
#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
}
#menu > ul .parent {
	background: url('images/arrow-right.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	position: absolute;
}
#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
}



#nav {
	background-color:#00A54F;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}

#nav > ul.left {
	float: left;
}
#nav > ul.right {
	float: right;
}


	
#nav ul ul {
	display: none;
}

#nav ul li:hover > ul {
	display: block;
}
			
	
	
	
#nav ul {		
	padding: 0 10px;		
	list-style: none;
	position: relative;
	display: inline-table;
	margin:0px;
}
	
#nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
		
	
	
	

#nav > ul > li + li {
	background: url('images/split.png') center left no-repeat;
}
	
	
	
	
	
#nav ul li {
	float: left;
}

#nav a.top:link {	
	color:#FFFFFF;
}
	
#nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
	
#nav ul li:hover a {
	color: #fff;
}
	
#nav ul li a {
	display: block; 
	padding: 9px 19px;
	color: #fff; 
	text-decoration: none;
}
	
		
	
#nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	
#nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
	
#nav ul ul li a {
	padding: 9px 25px;
	color: #fff;
	min-width:80px;
}	
	
#nav ul ul li a:hover {
	background: #4b545f;
}
			
			
			
#nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1280AA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
	border-bottom:1px solid #fff;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.top{position:relative !important;}
.top:hover .dropdown-content {
    display: block !important;
}
